torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchvision  --index-url https://download.pytorch.org/whl/cu118
omegaconf==2.0.6
av==10.0
opencv-python
tqdm
scipy